*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(133,224,133);
    background: linear-gradient(90deg, rgba(133,224,133,1) 20%, rgba(255,77,77,1) 50%, rgba(0,212,255,1) 85%);
}
header{
    display: flex;
    background-color: #e6e6e6;
    align-items: center;
    justify-content: space-between;
}
header .logo img{
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}
header .logo img:hover{
    background-color: #ffffff;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
    margin-right: 20px;
}
nav ul a{
    text-decoration: none;
}
nav ul a:visited{
    color: #000;
}
nav ul a:hover{
    text-decoration: underline;
    font-weight: 900;
}


main section h1{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}
main section .conteneur{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main section .conteneur p{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}
main section h1, p{
    text-align: center;
    margin-top: 50px;
}
main section .reponse{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
    align-items: center;
}
.choix{
    border: 5px solid #a9a6a6;
    padding: 10px;
    text-align: center;
    margin: 10px;
    font-size: 19px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.choix:hover{
    background-color: #ccc;
    cursor: pointer;
}
main section a{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
main section .supernana{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main section .supernana img{
    width: 200px;
    height: 200px;
}
main section a{
    margin-top: 80px;
    text-decoration: none;
}
