*{
    margin: 0;
    padding: 0;
}

body {
    background: rgb(186, 39, 56);
}

header img {
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}
header img:hover {
    background-color: #ffffff;
}
header nav ul a:hover {
    text-decoration: underline;
    font-weight: 900;
} 

main section .belle {
    display: flex;
    margin-top: 40px;
}
main section .belle .belle__description {
    text-align: center;
}
main section .belle__description h1 {
    font-size: 70px;
    font-family: 'Marhey', sans-serif;
}
main section .belle__description p {
    line-height: 1.5;
    margin: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #262626;
    font-weight: 500;
}
main section .belle__description a {
    font-size: 20px;
    color: #e6e6e6;
    font-weight: 900;
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 100px;
    margin: auto;
}
main section .belle__image #belle1 {
    height: 400px;
}
main section .belle__image #belle2 {
    margin-left: 80px;
    height: 500px;
}
main section .belle__description a button {
    width: 100px;
    height: 50px;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    margin-top: 20%;
}
main section .belle__description a button:hover {
    background: linear-gradient(to right, darkblue, darkorchid) border-box;
    color: #fff;
    cursor: pointer; 
}

@media screen and (max-width: 767px) {
    main section .belle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main section .belle__image #belle2 {
        display: none;
    }   
}