* {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(255,77,77);
    background: linear-gradient(90deg, rgba(255,77,77,1) 0%, rgba(133,224,133,1) 50%, rgba(0,212,255,1) 100%);
}

header {
    display: flex;
    background-color: #e6e6e6;
    align-items: center;
    justify-content: space-between;
}
header .logo img {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}
header .logo img:hover {
    background-color: #ffffff;
}
header nav ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
    margin-right: 20px;
}
header nav ul a {
    text-decoration: none;
}
header nav ul a:visited {
    color: #000;
}
header nav ul a:hover {
    text-decoration: underline;
    font-weight: 900;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-family: cursive;
    color: #38332e;
}
main section {
    width: 500px;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, darkblue, darkorchid) border-box;
    border: 3px solid transparent;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 500px;
    overflow: scroll;
    background-color: black;
}
main section .input {
    height: inherit;
    display: flex;
    align-items: end;
}
main section input {
    height: 28px;
    font-size: 17px;
    padding: 5px;
    border: 1px solid lightgray;
    border-bottom: none;
}
main section input:focus {
    outline: none;
}
main section input[type="text"] {
    width: 600px;
    border-radius: 0px 0 0 5px;
}
main section input[type="submit"] {
    width: 200px;
    height: 39px;
    font-weight: 700;
}
main section input[type="submit"]:hover {
    cursor: pointer;
}