* {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(255,77,77);
    background: linear-gradient(90deg, rgba(255,77,77,1) 0%, rgba(133,224,133,1) 50%, rgba(0,212,255,1) 100%);
}

header img {
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}
header img:hover {
    background-color: #ffffff;
}
header nav ul a:hover {
    text-decoration: underline;
    font-weight: 900;
} 

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-family: cursive;
    color: #38332e;
}
main section {
    width: 515px;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, darkblue, darkorchid) border-box;
    border: 3px solid transparent;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 500px;
    background-color: black;
    overflow: scroll;
    padding: 5px;
}
main .input {
    display: flex;
    width: 515px;
}
main textarea {
    width: 600px;
    border-radius: 0 0 0 10px;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, darkblue, darkorchid) border-box;
    border: 3px solid transparent;
    border-top: 2px solid lightgray;
    border-right: 3px solid lightgray;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
}
main textarea:focus {
    outline: none; /* Pour enlever l'effet de bleu au clique */
}
main input[type="submit"] {
    width: 200px;
    border-radius: 0 0 10px 0;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, darkblue, darkorchid) border-box;
    border: 3px solid transparent;
    border-top: 2px solid #d3d3d3;
    border-left: none;
    height: 40px;
    font-weight: 700;
    font-size: 17px;
}
main input[type="submit"]:hover {
    cursor: pointer;
}
main a button {
    margin-top: 25px;
    padding: 5px;
    background-color: #d3d3d3;
}
main a button:hover {
    cursor: pointer;
}
.message {
    display: flex;
    justify-content: flex-start;
    padding: 1px;
    height: fit-content;
    flex-wrap: wrap;
}
.message .date {
    opacity: 0.2;
    font-size: 15px;
    line-height: 25px;
}
