* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(133,224,133);
    background: linear-gradient(90deg, rgba(133,224,133,1) 20%, rgba(255,77,77,1) 50%, rgba(0,212,255,1) 85%);
}
header { 
    display: flex;
    background-color: #e6e6e6;
    align-items: center;
    justify-content: space-between;
}
header .logo img {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%; /* Besoin de garder ca pour l'hover */
}
header .logo img:hover {
    background-color: #ffffff;
}
header nav ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
    margin-right: 20px;
    align-items: center;
}
header nav ul img {
    width: 35px;
    height: 35px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    border: 2px solid #a6a6a6;
    background-color: #b3b3b3;
}
header nav ul img:hover {
    background: #8c8c8c;
    cursor: pointer;
}
header nav ul a {
    text-decoration: none;
}
header nav ul a:visited {
    color: #000;
}
header nav ul a:hover {
    text-decoration: underline;
    font-weight: 900;
}
main {
    position: fixed;
    width: 100%;
}
main section h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}
main section p {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}
main section h1, p {
    text-align: center;
    margin-top: 50px;
}
main section .supernana {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
main section .supernana img {
    width: 200px;
    height: 200px;
}
main section a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 7% auto;
}
main section a button {
    width: 100px;
    height: 50px;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, rgba(133,224,133,1), rgba(255,77,77,1), rgba(0,212,255,1)) border-box;
    border-radius: 1em;
    border: 4px solid transparent;
}
main section a button:hover {
    background: linear-gradient(to right, rgba(133,224,133,1), rgba(255,77,77,1), rgba(0,212,255,1)) border-box;
    color: #fff;
    cursor: pointer;
}

footer .marque {
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    height: 45px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
